<div class="newpost-container">
    <div class="post-content">
        <!-- <button class="coverimage-btn">Add Cover Image</button> -->
        <textarea class="post-title" #postTitle cols="30" rows="3" placeholder="Here goes the Post Title "></textarea>
        <textarea class="post-description" #postDescription cols="30" rows="10" placeholder="Write Your Post Content Here . . ."></textarea>
    </div>
    <button class="publish-btn" (click)="addNewPost(postTitle.value, postDescription.value); postTitle.value=''; postDescription.value=''">Publish</button>
</div>
