<div class="app-message" *ngIf="successMessage">
    <div class="success-message">{{displayMessage}}</div>
</div>
<div class="app-message" *ngIf="failureMessage">
    <div class="error-message">{{displayMessage}}</div>
</div>

<form class="login-form loginform-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- <div class="loginform-container"> -->
        <span class="inline-headings">
            <h2>Login here&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;
                <a routerLink="/register" class="register-btn">Register first</a></h2>
        </span>
        <input type="text" formControlName="username" class="form-control" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div class="login-error-message" *ngIf="f.username.errors.required">Username is required</div>
        </div>

        <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div class="login-error-message" *ngIf="f.password.errors.required">Password is required</div>
        </div>

        <input type="submit" class="login-btn form-control" value="Login">
    <!-- </div> -->
</form>
